<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>To-Do List</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">

		</head>
		<body>
		<h1>To-Dos</h1>

        <form action="/addItem" method="POST">
			<input type="text" placeholder="Enter item" name="ToDoItem">
			<input type="submit">
            
		</form>
        <ul>
            <% for (let i =0; i < chores.length; i++) { %>
            <li class = 'todoItem'>
                <% if (chores[i].completed === true) { %>
                <span class='completed'><%= chores[i].todo %></span>
                <% } else{ %>
                <span><%= chores[i].todo %></span>
                <% } %>
                <span class='del'> -- Delete </span>
            </li>
            <% } %>
        </ul>

        <h2>Things left to do: <%= left %></h2>

		
        
        
		<script src="main.js"></script>
	</body>
</html>
